body {
    margin: 0;
    font-family: 'Advent Pro';font-size: 22px;
    color: white;
    background-color: #f5f5f5;
}
.actual_page{
    color: grey ;
    font-size: 15px;
    margin: 1vw 0 0 1vw;
}

.large-img-container{
    width:70%;
    padding: 5%;
    background-color: white;
    margin:auto;
    margin-top: 2%;
}

.large-img-container img{
    position: absolute;
    width: 100%;
    height: auto;
}
.large-img-container h1{
    color: #3e9f99;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
}
form.search{
    margin:auto;
    margin-top: 3%;
    max-width:300px;
}

form.search input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #3e9f99;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #3e9f99;
    color: white;
    font-size: 17px;
    border: 1px solid #3e9f99;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: pink;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}
.people{
    margin-top: 5%;
}
.pers {
    display: inline-block;
    border: 3px solid #3e9f99;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
    height: auto;
    min-height: 100px ;
}
.pers::after {
    content: "";
    clear: both;
    display: table;
}

.pers img {
    float: left;
    max-width: 100px;
    width: 200%;
    margin-right: 20px;
    border-radius: 50%;
}
.pers p, .name{
    margin-left: 120px;
    margin-bottom: 10px;
    color: #3e9f99;
    text-decoration: none;
    font-size: 20px;
}
.name:hover,.right:hover{
    font-weight: bold;
}
.profession{
    margin-left: 5px;
    margin-bottom: 10px;
    color: #3e9f99;
    text-decoration: none;
    font-size: 20px;
}
.description{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 100px;
    color: #3e9f99;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right {
    float: right;
    color: #3e9f99;
    text-decoration: none;
    font-size: 20px;
}

.pers span{
    float: right;
    color: #3e9f99;
    text-decoration: none;
    font-size: 20px;
}
#more-btn {
    text-decoration: none;
    width: 10%;
    border: none;
    border-radius: 0;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-left: 40%;
    margin-top: 10px;
    text-align: center;
    background-color: #3e9f99;
}

@media screen and (max-width: 600px) {
    .large-img-container{
        width:100%;
        padding: 0;
        margin: 0;
    }

    .container_txt_img{
        height:auto;
    }

    .pers{
        width: 99%;
        padding: 0;
    }
    .pers img{ width: 100%}
    #btn{width: 30%}

}
