body {
    margin: 0;
    font-family: 'Advent Pro';font-size: 22px;
    color: #3e9f99;
    background-color: #f5f5f5;
}

.actual_page{
    color: grey ;
    font-size: 15px;
    margin: 1vw 0 0 1vw;
}

.large-img-container{
    width:70%;
    padding: 5%;
    background-color: white;
    margin:auto;
    margin-top: 2%;
}

.large-img-container img{
    position: absolute;
    width: 100%;
    height: auto;
}

.btns-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top:1%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#btn1{
    text-decoration: none;
    border: 3px solid #3e9f99;
    background-color: white;
    color: #3e9f99;
    margin: 0 0 0;
    text-align: center;
    padding: 5px 10px;
    width: 30%;
    height: 30px;
    outline: 0;
}
#btn2{
    text-decoration: none;
    border: 3px solid #3e9f99;
    background-color: white;
    color: #3e9f99;
    width: 30%;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0;
    margin-left: 0;
}
#btn3{
    text-decoration: none;
    border: 3px solid #3e9f99;
    background-color: white;
    color: #3e9f99;
    width: 30%;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0;
    margin-left: 0;
}

#btn2:hover,#btn1:hover,#btn3:hover{
    cursor: pointer;
    border: 3px solid #3e9f99;
    background-color: #3e9f99;
    color: white;
}
span{float: right; margin-right: 30px}
#from{
    font-size: 20px;
    font-family: "Advent Pro";
    border: 3px solid #3e9f99;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 95%;
    height: auto;
    outline: 0;

}
#subject,#to{
    font-size: 20px;
    font-family: "Advent Pro";
    border: 3px solid #3e9f99;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 95%;
    height: auto;
    outline: 0;

}

#msg{
    font-size: 20px;
    font-family: "Advent Pro";
    border: 3px solid #3e9f99;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 200px;
    outline: 0;

}
#btn {
    text-decoration: none;
    width: 10%;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #3e9f99;
}



@media screen and (max-width: 1200px) {

    #btn3,#btn1,#btn2{
        width: 29%;
    }
}
@media screen and (max-width: 900px) {

    #btn3,#btn1,#btn2{
        width: 27%;
    }
}

@media screen and (max-width: 600px) {
    .large-img-container{
        width:100%;
        padding: 0;
    }

    span{margin-right: 10px}
    body{font-size: 20px}

    .container_txt_img{
        height:auto;
    }
    #from,#to,#subject,#msg{
        width: 99%;
        padding: 0;
    }
    #btn1{
        width: 100%;
        margin-top: 20px;
    }
    #btn3,#btn2{
        width: 100%;
    }

}
